body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    color: #000000;

    background-color: #eeeeee;
}

ul {
    list-style: none;
}

.button,
.social-item a {
    font: inherit;

    text-align: center;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: #fb565a;
    text-transform: uppercase;
    border: none;
}

.description .button {
    width: 240px;
    height: 50px;
}

.button:hover,
.social-item a:hover {
    background-color: #e74246;
}

.button:focus,
.social-item a:focus{
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.button:hover {
    background-color: #e74246;
}

.button:focus {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.apps .button {
    background-color: #00ca74;
}

.apps .button:hover {
    background-color: #00bc6c;
}

.apps .button:focus {
    background-color: #00aa62;
}

.presentation .button {
    background-color: #efc84a;
}

.presentation .button:hover {
    background-color: #eab534;
}

.presentation .button:focus {
    background-color: #e5a722;
}

.filter label {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.filter label:hover {
    color: #000000;
}

.filter label:focus {
    opacity: 0.3;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;

    text-transform: uppercase;
}

input[type='number'] {
    width: 80px;
    height: 38px;
    text-align: center;

    background-color: #eeeeee;
    border: none;
}

.filter button[type="submit"] {
    width: 260px;
    height: 50px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    border: none;

    text-transform: uppercase;
    background-color: #eeeeee;
}

.filter button[type="submit"]:hover {
    background-color: #dfdfdf;
}

.filter button[type="submit"]:focus,
.filter button[type="submit"]:active {
    opacity: 0.3;
    background-color: #787878;
    box-shadow: inset 0 4px 0 0 rgb(0,0,75);
}


.price-for-to {
    line-height: 22px;

    text-transform: uppercase;
}

.filters h2{
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;

    text-transform: uppercase;
}

.filters-details a {
    font-size: 14px;
    line-height: 18px;
    list-style: none;
    color: #000000;

    opacity: 0.3;
    text-transform: uppercase;
}

.filters-details a:hover {
    opacity: 0.6;
}

.filters-details a:focus,
.filters-details a:active {
    opacity: 1;
}


.container {
    font: inherit;

    background-color: #ffffff;
}

header {
    background-color: #eeeeee;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;

    text-transform: uppercase;
}

.site-navigation,
.basket {
    list-style: none;
}

.site-navigation a,
.basket a{
    font-weight: 700;
    color: #000000;
}

.site-navigation a:hover,
.basket a:hover{
    color: #fb565a;
}

.site-navigation a:focus,
.basket a:focus{
    color: #000000;

    text-decoration: underline;
}

.site-navigation-current a {
    text-decoration: underline;
}

.slides b {
    font-size: 55px;
    line-height: 55px;
    color: black;
}

.container h3 {
    color: black;

    text-transform: uppercase;
}

.info b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: black;
}

.advantages p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: black;

    text-transform: uppercase;
}

.list-order,
.brand-item,
.social-item{
    list-style: none;
}

td {
    text-align: center;
    vertical-align: middle;
}

.percent {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: black;
}

.brands a {
    filter: alpha(Opacity=20);
    opacity: 0.2;
}

.brands a:hover {
    filter: alpha(Opacity=100);
    opacity: 1;
}

.brands a:focus {
    filter: alpha(Opacity=10);
    opacity: 0.1;
}

.footer-contacts p:nth-child(2){
    font-weight: 700;
    color: black;

    text-transform: uppercase;
}

.footer-social b{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: black;
}

.footer-social .social-button {
    font: inherit;
    color: black;
}

.footer-social a {
    color: black;
    background-color: #e1e1e1;
}

.latter-form label {
    font-weight: 700;
    color: black;
}

.latter-form input {
    background-color: transparent;
    border: 2px solid #e4e8e9;
    outline: none;
}

.latter-form input:hover {
    border-color: #cdd0d2;
    outline: none;
}

.latter-form input:focus {
    border-color: #000000;
    outline: none;
}

.invalid {
    border-color: #e74246;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* сетка */

html,
body {
    min-height: 2746px;
    min-width: 1220px;
}



.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;

}

.main-header {
    padding-top: 50px;

    background-color: #eeeeee;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: transparent;
}

.main-navigation-wrapper {
    width: 100%;
    padding-bottom: 20px;

    background-color: #eeeeee;
}

.main-navigation-wrapper .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: #eeeeee;

}

.main-header-logo {
    margin-right: 200px;
}

.site-navigation {
    padding: 0;
    margin: 0;
}

.main-header .container {
    background-color: #eeeeee;
}

.basket {
    padding: 0;
    margin: 0;

    margin-left: auto;
}

.slides {
    background-color: #eeeeee;
}

.slides .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    background-color: #eeeeee;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    padding-top: 65px;
    padding-bottom: 80px;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.products section {
    margin-right: 100px;
}

.information .container {
    display: flex;
    justify-content: space-between;

    padding-top: 45px;
}

.container .info {
    width: 660px;
}

.container .advantages {
    width: 360px;
}

.information {
    margin-bottom: 120px;
}

.brand-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.brand-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
}

.footer-social {
    display: flex;
    margin-top: 70px;

}

.social-item {
    display: flex;
    width: 260px;
    margin-right: 140px;
}

.footer-contacts {
    width: 319px;
    height: 308px;
    padding-left: 50px;
    padding-top: 50px;
}

/*.inner-page .main-header {*/
/*    margin-bottom: 60px;*/
/*}*/

h1 {
    margin: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 115px;
    margin-bottom: 60px;
}

.filter {
    width: 260px;

}


.catalog {
    width: 760px;
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}

.catalog-services {
    display: flex;
    justify-content: space-between;


}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 60px;

}

.catalog-item {
    width: 360px;
    margin-bottom: 35px;
    margin-right: 40px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.pagination-list {
    padding: 0;
    margin: 0;
    list-style: none;

    width: 445px;
}

.filters {
    display: flex;
    justify-content: flex-end;
    width: 760px;
}

.filters h2 {
    margin-right: auto;
}

.main-container {
    margin-bottom: 60px;
}




